
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4>We'd like to present the Animals Manager</h4>
      <p>View all animals and it's owners here. </p>
      <div class="row">
        <div class="btn_set">
          <button class="btn btn-success" (click)="logIn()">Log in</button>
          <button class="btn btn-danger" (click)="logOut()">Log out</button>

        </div>
      </div>
      <div *ngIf=loggedin>You are logged! <br>
      Now you can load animals</div>
      <button class="btn btn-primary" (click)="onLoadAnimals()" [disabled]="!loggedin">Load all animals</button>
      <button class="btn btn-primary" (click)="onLoadOwners()">Load all owners</button>
    </div>
  </div>


</div>
